{% include 'outer/header.twig' %}

<!-- /.container -->
<div class="container">
    <div class="content">
        <div class="hidden-xs clearfix" id="searchbox">
        	<table class="pull-right"><tr>
	        	<td class="input-group">        		
					<span class="input-group-addon">
						<input type="checkbox" id="daterangeFlag" {% if daterange %}checked=checked {% endif %}>
					</span>
					<input type="text" id="daterange" class="form-control" {% if not daterange %}disabled=disabled{% endif %}/>		
			    </td>
    		    <td>
				    <button id="csvsubmit" class="btn btn-default">CSVダウンロード</button>			
					<form id="csvform" action="/csv" method="post">
					{% if daterange %}
					    <input type="hidden" name="start" value="{{ daterange.start|e }}"/>
					    <input type="hidden" name="end" value="{{ daterange.end|e }}"/>
					{% endif %}
					</form>
				</td>
		    </tr></table>
        </div>      
        {% if result %}      
        <table class="table table-striped">
            <thead>
            <tr>
                <th>内容</th>
                <th class="col-xs-2">検知日時</th>
                <th class="col-xs-1">確認状況</th>
            </tr>
            </thead>
            <tbody>
            {% for record in result %}
                <tr data-href="/detail/{{record.id|e}}">
                    <td><a href="/detail/{{record.id|e}}">{{ record.display_log_types|e }}</a></td>
                    <td class="text-nowrap">{% include 'helper/date.twig' with {'date_text': record.last_log_date} %}</td>
                    <td class="text-nowrap">{{ record.display_last_status|e }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if pager_info %}
            {% include 'helper/pager.twig' with {'url_prefix': '/page', 'url_suffix' : query_string} %}
        {% endif %}
        {% else %}
            <div class="alert alert-info" role="alert">
               条件と一致するログはありません。
            </div>
        {% endif %}

    </div>
</div>
<!-- /.container -->

<script>
jQuery( function($) {
	$('#daterangeFlag').change(function(){
		if($("#daterangeFlag").prop('checked')) {
			location.href = location.pathname + "?d=" + moment(moment().format("YYYY/MM/01 00:00")).unix() + '-' + moment(moment().format("YYYY/MM/DD 23:59")).unix();
		} else {
			location.href = location.pathname;
		}
	});

	$("#csvsubmit").click(function(){
		$("#csvform").submit();
	});
	
	$('#daterange').daterangepicker({
		"autoApply": true,
	    "locale": {
	        "format": "YYYY/MM/DD",
	        "separator": " - ",
	        "applyLabel": "OK",
	        "cancelLabel": "キャンセル",
	        "fromLabel": "From",
	        "toLabel": "To",
	        "customRangeLabel": "Custom",
	        "weekLabel": "W",
	        "daysOfWeek": [
	            "日",
	            "月",
	            "火",
	            "水",
	            "木",
	            "金",
	            "土"
	        ],
	        "monthNames": [
	            "01",
	            "02",
	            "03",
	            "04",
	            "05",
	            "06",
	            "07",
	            "08",
	            "09",
	            "10",
	            "11",
	            "12"
	        ],
	        "firstDay": 1
	    }
	{% if daterange %}
	    ,"startDate": '{{ daterange.start|e|date("Y/m/d") }}',
	    "endDate": '{{ daterange.end|e|date("Y/m/d") }}'
	{% else %}
	    ,"startDate": moment().format("YYYY/MM/01"),
	    "endDate": moment().format("YYYY/MM/DD")
	{% endif %}
	}, function(start, end, label) {
	  location.href = location.pathname + "?d=" + moment(start.format("YYYY/MM/DD 00:00")).unix() + '-' + moment(end.format("YYYY/MM/DD 23:59")).unix();
	});
});
</script>
{% include 'outer/footer.twig' %}
